
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: red;
}

.pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 0;
}

.pokemon {
  list-style: none;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  margin: .5rem;
  padding: 1rem;
  border-radius: 1rem;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemonCharacteristics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.detail img {
  max-width: 100%;
  height: 70px;
}